1Password/
alacritty/
BraveSoftware/
chromium/
dconf/
google-chrome/
google-chrome-beta/
google-chrome-unstable/
ibus/
microsoft-edge-dev/
Mullvad VPN/
nautilus/
pulse/
qalculate/
Signal/
Slack/
spotify/
vivaldi/
vivaldi-snapshot/
xournalpp/
menus/
